@media (max-width: 680px) {


    .lateral-bar{
        width: 50px;
        height: 100%;
    }

    .lateral-bar .box-logo{
        height: 50px;
        width: 100%;
    }

    .lateral-bar .logo{
        display: none;
    }
    
    .lateral-bar .logo-mobile{
        display: block;
        width: 50%;
    }

    .lateral-bar .playlist{
        display: none;
    }

    .lateral-bar .box-menu {
        height: calc(100% - 130px);
    }
    
    .lateral-bar .box-menu h4{
        display: none;
    }

    .lateral-bar .box-menu .symbol{
        width: 50%;
    }

    .lateral-bar .box-account{
        height: 80px;
    }

    .lateral-bar .box-account .download p, .lateral-bar .box-account .account h3{
        display: none;
    }

    .lateral-bar .box-account .download img{
        width: 100%;
    }

    .lateral-bar .box-account .border-bottom{
        border: none;
    }

    .lateral-bar .box-account .account{
        justify-content: center;
        align-items: flex-end;
    }

    .container{
        width: calc(100% - 50px);
    }

    .nav-bar{
        width: calc(100% - 50px);
    }

    .box-recently-played-cover{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .box-recently-played-cover .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 2);
    }

}

@media (min-width: 681px) and (max-width: 800px) {

    .box-recently-played-cover{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .box-recently-played-cover .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 2);
    }

}

@media (min-width: 801px) and (max-width: 1200px) {

    .box-recently-played-cover{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .box-recently-played-cover .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 4);
    }

}

