* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* common */

.margin-left-border{
    margin-left: 6px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-left-25{
    margin-left: 25px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-top-10{
    margin-top: 15px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.grey{
    color: #A3A3A3;
}

.white{
    color: white;
}

/* main */

.container-general{
    width: 100%;
    height: 100vh;
}

.wrapper{
    height: calc(100vh - 80px);
    display: flex;
    z-index: 0;
}

/* barra laterale */

.lateral-bar{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background-color: #000000;
}

/* barra laterale logo */

.lateral-bar .box-logo{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lateral-bar .logo{
    width: 70%;
}

.lateral-bar .logo-mobile{
    display: none;
}

/* barra laterale menu */

.lateral-bar .box-menu{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.lateral-bar .box-menu .option{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    align-items: center;
}

.lateral-bar .box-menu .border-left-green{
    border-left: 4px solid #BEFF5A;
    height: 30px;
}

.lateral-bar .box-menu .option-playlist{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    align-items: center;
}

.lateral-bar .box-menu .symbol{
    width: 12%;
}

.lateral-bar .box-menu .box-add{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
}

.lateral-bar .box-menu .add{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.lateral-bar .box-menu h3{
    font-size: 15px;
    font-weight: bold;
}

.lateral-bar .box-menu h4{
    font-size: 12px;
    cursor: pointer;
}

.lateral-bar .box-menu h4:hover{
    color: white;
}

/* barra laterale account */

.lateral-bar .box-account{
    height: 65px;
}

.lateral-bar .box-account .border-bottom{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.lateral-bar .box-account .download{
    height: 25px;
}

.lateral-bar .box-account .download img{
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}

.lateral-bar .box-account .download p{
    font-size: 15px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.lateral-bar .box-account .download p:hover{
    color: white;
}

.lateral-bar .box-account .account{
    height: 20px;
    display:flex;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
}

.lateral-bar .box-account .account img{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #808080;
    margin-right: 10px;
}

.lateral-bar .box-account .account h3{
    font-size: 15px;
    display: inline-block;
    vertical-align: 30px;
    line-height: 30px;
}



/* container nav-bar e parte centrale */

.container{
    width: calc(100% - 230px);
    background-color: #272C36;
    overflow-y: scroll;
}

/* nav bar */

.nav-bar{
    display: flex;
    width: calc(100% - 230px);
    position: fixed;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
    align-items: center;
}

button{
    height: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    padding: 0 40px;
    color: white;
    margin-right: 20px;
    font-size: 13px;
}

button:hover{
    height: 53px;
    padding: 0 50px;
}

/* parte principale */

.content{
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    flex-direction: column;
}

/* scopri */

.content .box-scopri{
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content .box-scopri h5{
    text-transform: uppercase;
    padding: 10px 10px 5px 10px;
    position: relative;
    z-index : 1;
    cursor: pointer;
}

.content .box-scopri h5:hover{
    color: white;
}

.content .box-scopri .border-bottom-green:before {
    content : "";
    width   :30%; 
    position: absolute;
    left    : 35%;
    bottom  : 0; 
    border-bottom:4px solid #BEFF5A;
  }

/* titolo recently played */

.box-recently-played-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* cover recently played */

.box-recently-played-cover{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.box-recently-played-cover .cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6);
}

.box-recently-played-cover .cover .container-img{
    position: relative;
}

.box-recently-played-cover .cover .container-img i{
    display: none;
}

.box-recently-played-cover .cover img{
    width: 90%;
    display: flex;
    flex-shrink: 0;
}

.box-recently-played-cover .cover .container-img:hover{
    filter: brightness(70%)
}

.box-recently-played-cover .cover .container-img:hover i{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-70%,-50%);
    z-index: 99;
}

.box-recently-played-cover h5{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

.box-recently-played-cover .cover .round{
    border-radius: 50%;
}

.content p{
    font-size: 12px;
    color: #7A7D81;
    margin-top: 5px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #383838;
    
}

/* footer left */

footer .song{
    width: 230px;
    height: 80px;
    display: flex;
    align-items: center;
}

footer .song .img-footer{
    height: 50px;
}

footer .song .text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

footer .song .text h4{
    font-size: 14px;
}

footer .song .text p{
    font-size: 12px;
}

footer .song .symbol{
    margin-left: 5px;
}

footer .song .symbol:hover{
    color: white;
}

/* footer center */

.footer-central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-central .controls .play{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-central .controls .play i{
    padding-left: 15px;
    padding-right: 15px;
}

.footer-central .time-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-central .time-bar .font{
    font-size: 12px;
}

.footer-central .time-bar .bar {
    width: 500px;
    height: 5px;
    background-color: #5C5C5C;
    border-radius: 50px;
}

.footer-central .time-bar .bar .bar-white{
    width: 150px;
    height: 5px;
    background-color: white;
    border-radius: 50px;
}

/* footer right */

.footer-right{
    display: flex;
    align-items: center;
}

.footer-right i{
    margin-right: 20px;
}

.footer-right .time-bar .bar {
    width: 100px;
    height: 5px;
    background-color: #5C5C5C;
    border-radius: 50px;
}

.footer-right .time-bar .bar .bar-white{
    width: 20px;
    height: 5px;
    background-color: white;
    border-radius: 50px;
}