* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* common */

.margin-left-border{
    margin-left: 6px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-top-10{
    margin-top: 15px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.grey{
    color: #A3A3A3;
}

.white{
    color: white;
}

/* main */

.container-general{
    width: 100%;
    height: 100vh;
}

.wrapper{
    height: calc(100vh - 80px);
    display: flex;
    z-index: 0;
}

/* barra laterale */

.lateral-bar{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background-color: #000000;
}

/* barra laterale logo */

.lateral-bar .box-logo{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lateral-bar .logo{
    width: 70%;
}

.lateral-bar .logo-mobile{
    display: none;
}

/* barra laterale menu */

.lateral-bar .box-menu{
    height: calc(100% - 145px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.lateral-bar .box-menu .option{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    align-items: center;
}

.lateral-bar .box-menu .border-left-green{
    border-left: 4px solid #BEFF5A;
    height: 30px;
}

.lateral-bar .box-menu .option-playlist{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    align-items: center;
}

.lateral-bar .box-menu .symbol{
    width: 12%;
}

.lateral-bar .box-menu .box-add{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
}

.lateral-bar .box-menu .add{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.lateral-bar .box-menu h3{
    font-size: 15px;
    font-weight: bold;
}

.lateral-bar .box-menu h4{
    font-size: 12px;
}

/* barra laterale account */

.lateral-bar .box-account{
    height: 65px;
}

.lateral-bar .box-account .border-bottom{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.lateral-bar .box-account .download{
    height: 25px;
}

.lateral-bar .box-account .download img{
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}

.lateral-bar .box-account .download p{
    font-size: 15px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}

.lateral-bar .box-account .account{
    height: 20px;
    display:flex;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
}

.lateral-bar .box-account .account img{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #808080;
    margin-right: 10px;
}

.lateral-bar .box-account .account h3{
    font-size: 15px;
    display: inline-block;
    vertical-align: 30px;
    line-height: 30px;
}



/* container nav-bar e parte centrale */

.container{
    width: calc(100% - 230px);
    background-color: #272C36;
    overflow-y: scroll;
}

/* nav bar */

.nav-bar{
    display: flex;
    width: calc(100% - 230px);
    position: fixed;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
    align-items: center;
}

button{
    height: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    padding: 0 50px;
    color: white;
    margin-right: 20px;
    font-size: 13px;
}

/* parte principale */

.content{
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    padding-top: 80px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #383838;
    color: white;
}