* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

.wrapper{
    height: calc(100vh - 80px);
    display: flex;
}

.lateral-bar{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: violet;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.nav-bar{
    display: flex;
    width: 85%;
    height: 80px;
    background-color: tomato;
}

.content{
    display: flex;
    height: calc(100% - 80px);
    width: 85%;
    background-color: teal;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #282828;
    color: white;
}